*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root
{
    --main-color : #FFE000;
    --second-color: ;
    --special-heading-color: ;
    --main-transition:0.5s ;
}
html
{
    scroll-behavior: smooth;
}

::-webkit-scrollbar
{
    width: 5px;
    
}
::-webkit-scrollbar-track
{   
    background: var(--second-color);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb
{
    background-color: var(--main-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: #dbc003;;
}
body
{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    background-attachment: fixed;
    overflow-x: hidden;
    height: 100vh;
}
.container
{
   padding: 10px;
} 
/* Small Screen */
/* @media (min-width:768px)
{
    .container
    {
        width: 750px;
    }
} */
/* Medium Screen */
/* @media (min-width:992px)
{
    .container
    {
        width: 970px;
    }
} */
/* Large Screen */
/* @media (min-width:1200px)
{
    .container
    {
        width: 1180px;
    }
} */
/* start landing page */
.landing 
{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(4,1fr)  ;
    height: 100vh;
    gap: 10px;
}
/* Start panel */
header
{
    border-radius: 15px;
    background-color: var(--main-color);
    grid-column: 1/2;
    grid-row: 1/5;
    width: 250px;
}
header .logo
{
    width: fit-content;
    height: fit-content;
    margin: auto;
}
header .logo img 
{
    width: 150px;
    height: 150px;
}
header nav ul 
{
    padding: 0 10px 0 0;
}
header nav ul li 
{
    padding: 10px 0px 10px 10px;
    transition: var(--main-transition);
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
header nav ul li::before
{
    content: "";
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    transition: var(--main-transition);
    border-radius: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
header nav ul li:hover::before
{
    background-color: black;
    width: 100%;
}
header nav ul li.active::before
{
    background-color: black;
    width: 100%;
}
header nav ul li.active a{
    color: var(--main-color);
}
header nav ul li a 
{
    text-decoration: none;
    color: black;
    font-size: 20px;
    width: 100%;
    display: flex;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
}
header nav ul li a i
{
    position: relative;
    top: -2px;
    margin-right: 5px;
}
header nav ul li:hover i 
{
    color: var(--main-color);
}
header nav ul li:hover a
{
    color: var(--main-color);
}
/* end panel */
/* start welcome */
.welcome
{
    grid-column: 2/11;
    grid-row: 1/3;
    display: grid;
    border: 5px solid var(--main-color);
    border-radius: 10px;
    overflow: hidden;
    animation: scale 1s linear forwards;
}
.welcome .intro 
{
    grid-column: 2/5;
    grid-row: 1/2;
    text-align: center;
    margin: 20px auto 0px;
    width: fit-content;
    transform: translateX(-20%);
}
.welcome .intro audio
{
    width: 261px;
    height: 35px;
}
audio::-webkit-media-controls-panel
{
    background-color: var(--main-color);
}
audio::-webkit-media-controls-play-button
{
    background-color: var(--main-color);
    border-radius: 30px;
}
audio::-webkit-media-controls-play-button:hover
{
    background-color: #dbc003;
}
audio::-webkit-media-controls-current-time-display {
    color: black;
  }
  audio::-webkit-media-controls-time-remaining-display {
    color: black;
  }
  audio::-webkit-media-controls-timeline
  {
    background-color:var(--main-color);
    border-radius: 30px;
    margin-left: 7px;
    padding: 2px;
  }
  audio::-webkit-media-controls-mute-button 
  {
    background-color: var(--main-color);
    border-radius: 30px;
  }
  audio::-webkit-media-controls-mute-button:hover 
  {
    background-color: #dbc003;
  }
  audio::-webkit-media-controls-volume-slider 
  {
    background-color: white;
    border-radius: 30px;
  }
.welcome .img2 
{
    grid-column: 4/4;
    grid-row: 1/3;
    position: relative;
    display: grid;
    place-content: center;
}
.welcome .img2 img
{
    width: 300px;
    height: 315px;
    margin-left: -315px;
    position: relative;
    transform: rotate(45deg);
    top: -40px;
    right: -110px;
}
.welcome .intro h2,
.welcome .intro h1
{
    color: white;
    width: fit-content;
}
.welcome .intro h2 .cmb,
.welcome .intro h1 .cmb
{
    color: var(--main-color);
}
.welcome .intro h2
{
    font-size: 60.9px;
}
.welcome .intro h1
{
    font-size: 135px;
}
/* End welcome */
/* start books */
.books
{
    grid-column: 2 / 11;
    grid-row: 3 / 5;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.book 
{
    border: 5px solid var(--main-color);
    border-radius: 10px;
    overflow: hidden;
    height: 390px;
    transition: var(--main-transition);
}
.book .photo
{
    width: fit-content;
    margin: 0px auto;
}
.book .photo img
{
    width: 330px;
    height: 290px;
    filter: grayscale(1);
    transition: var(--main-transition);
    border: 2px solid white;
    margin-top: 3px;
    border-radius: 5px;
}
.book .info
{
    text-align: center;
    color: white;
    font-size: 11px;
    line-height: 1.7;
}
.book .info img
{
    filter: invert(1) !important;
    width: 200px;
    height: 20px;
}
.book .info h1
{
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    margin-top: 20px;
}
.book .info h2
{
    line-height: 1.7;
    font-size: 15px;
    margin: 10px 10px;
    text-align: right;
    direction: rtl;
}
.book .info .buttons
{
    display: flex;
    justify-content: space-evenly;
}
.book .info button
{
    background-color: var(--main-color);
    border: 0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: var(--main-transition);
    position: relative;
    font-size: 15px;
}
.book .info button i
{
    font-size: 15px;
    margin: auto 0 auto 5px;
    position: relative;
    top: -1px;
}
.book .info button:hover i
{
    color: var(--main-color);
    z-index: 1;
    position: relative;
    font-size: 13px;
}
.book .info button::before,
.book .links a::before
{
    content: "";
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    transition: var(--main-transition);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.book .info button:hover::before,
.book .links a:hover::before
{
    background-color: black;
    width: 100%;
}
.book .links a:hover::before{z-index: -1;}
.book .info button:hover,
.book .links a:hover
{
    transform: scale(1.25);
}
.book .info button:hover a
{
    color: var(--main-color);
    z-index: 1;
    position: relative ;
}
.book .info button a
{
    text-decoration: none;
    color: black;
}
.book .links
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px 10px;
}
.book .links p 
{
    color: white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.book .links a{
    background-color: var(--main-color);
    border: 0;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
    font-size: 15px;
}
.book .links a:hover
{
    color: var(--main-color);
}
.book .links a i
{
    position: relative;
    top: 1px;
}
.book.one{
    transform: scale(0);
    animation: scale 1s linear forwards 1s;
}
.book.two{
    transform: scale(0);
    animation: scale 1s linear forwards 2s;
}
.book.three{
    transform: scale(0);
    animation: scale 1s linear forwards 3s;
}
.book.four{
    transform: scale(0);
    animation: scale 1s linear forwards 4s;
}
.book.five{
    transform: scale(0);
    animation: scale 1s linear forwards 5s;
}
.book.six{
    transform: scale(0);
    animation: scale 1s linear forwards 6s;
}
.book.seven{
    transform: scale(0);
    animation: scale 1s linear forwards 7s;
}
.book.eight{
    transform: scale(0);
    animation: scale 1s linear forwards 8s;
}
.book.nine{
    transform: scale(0);
    animation: scale 1s linear forwards 9s;
}
.book.ten{
    transform: scale(0);
    animation: scale 1s linear forwards 10s;
}
.book.eleven{
    transform: scale(0);
    animation: scale 1s linear forwards 11s;
}
/* start animation for books */
.book.one:hover
{
    height: 830px;
}
.book.two:hover
{
    height: 990px;
}
.book.three:hover
{
    height: 1030px;
}
.book.four:hover
{
    height: 720px;
}
.book.five:hover
{
    height: 820px;
}
.book.six:hover
{
    height: 800px;
}
.book.seven:hover
{
    height: 870px;
}
.book.eight:hover
{
    height: 720px;
}
.book.nine:hover
{
    height: 880px;
}
.book.ten:hover
{
    height: 930px;
}
.book.eleven:hover
{
    height: 770px;
}
.book:hover img{
    filter: grayscale(0);
}
.info_container
{
    position: relative;
    bottom: -300px;
    transition: var(--main-transition);
}
.book:hover .info_container
{
    bottom: -0px;
    transition-delay: 0.3s;
}
/* start animation for buttons */
@keyframes icons_scale {    
    0%  {transform: scale(1);}
    50%  {transform: scale(1.1);}
    100%  {transform: scale(1);}

}
.book .links a:hover i,
.book .info button:hover i
{
    animation: icons_scale 0.3s linear infinite;
}
/* end animation for buttons */
/* end animation for book one */
/* start media query */

@media (min-width:600px) and (max-width:800px){
    .welcome .intro {
        transform: translateX(-3%);
        margin: 30px auto 0px;
    }
    .welcome .intro h1 {
        font-size: 138px;
    }
    .welcome .intro h2 {
        font-size: 60.9px;
    }
    .welcome .img2 img
    {
        right: -80px;
    }
}
@media  ( max-width:900px) {
    /* header
    {
        width: 50px;
        overflow-x: hidden;
    } */
    header .logo{
        margin: 0;
    }
    header .logo img 
    {
        width: 100px;
        height: 140px;
    }
    header nav ul
    {
        display: flex;
    }
    header nav ul li a span
    {
        display: none;
    }
    .landing {
        grid-template-rows: repeat(10, 1fr);
    }
    .welcome {
        grid-row: 2 / 7;
        grid-column: 1 / 11;
    }
    .books {
        grid-column: 1 / 11;
        grid-row: 7 / 11;
    }
    header {
        grid-column: 1 / 11;
        grid-row: 1 / 2;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: -webkit-fill-available;
        height: 50px;
        border-radius: 7px;
    }
    header nav ul li
    {
        margin: 0 10px 0 0 ;
    }
    header nav ul li::before
    {   
        border-radius: 50px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 100%;
        height: 0;
        top: -13px;
    }
    header nav ul li:hover::before
    {
        height: 140%;
        width: 114% !important;
    }
    header nav ul li.active::before
    {
        height: 140%;
        width: 114% !important;
    }
}
@media (min-width:800px) and (max-width:1000px){
    .welcome .intro
    {
        transform: translate(0%);
    }
}
@media (max-width:360px)
{
    .book .photo img
    {
        width: 310px;
    }
}
@media (max-width:599px)
{
    .book.one:hover
    {
        height: 850px;
    }
    .book.two:hover
    {
        height: 1000px;
    }
    .book.three:hover
    {
        height: 1050px;
    }
    .book.four:hover
    {
        height: 720px;
    }
    .book.five:hover
    {
        height: 850px;
    }
    .book.six:hover {
        height: 820px;
    }
    .book.seven:hover {
        height: 890px;
    }
    .book.eight:hover {
        height: 730px;
    }
    .book.nine:hover {
        height: 880px;
    }
    .book.ten:hover {
        height: 950px;
    }
    .book.eleven:hover {
        height: 800px;
    }
    .welcome .intro
    {
        transform: translateX(-2.5%) !important;
        margin: 70px auto 60px !important;
    }
    .welcome .intro .music
    {
        transform: translateY(30px);
    }
    .welcome .img2
    {
        display: none;
    }
    .book .photo img
    {
        width: 370px;
    }
    .welcome .intro h2 {
        font-size: 40.9px !important;
    }
    .welcome .intro h1 {
        font-size: 91px !important;
    }
    .welcome .img2 img
    {
        width: 160px !important;
        height: 195px !important;
        margin-left: -315px !important;
        position: relative !important;
        transform: rotate(-35deg) !important;
        top: -80px !important;
        right: 20px !important;
    }
}
@media (max-width:713px)
{
    footer.land-footer {
        bottom: -4650px;
        height: 120px;
    }
    footer.land-footer .me
    {
        flex-direction: column;
    }
}
/* end media query */
/* end books */
/* End landing page */
/* start footer */
footer
{
    position: relative;
    bottom: -1920px;
    background-color: black;
    border: 5px solid var(--main-color);
    border-radius: 5px;
    margin: 10px;
    height: 70px;
}
footer .me 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 12px;
}
footer .me p
{
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
}
footer .me .links 
{
    display: flex;
    gap: 10px;
    width: 160px;
    height: 40px;
    justify-content: center;
    align-items: center;  
    background-color: var(--main-color);
    border-radius: 7px;  
}
footer .me .links a
{
    background: black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 7px;
    transition: var(--main-transition);
}
footer .me .links a:hover
{
    transform: scale(1.1);
}
footer .me .links a i
{
    font-size: 22px;
    color: white;
    transition: var(--main-transition);
}
footer .me .links a:hover i
{
    color: var(--main-color);
}
/* end footer */
/* start services page */
.serv-cont
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(630px, 1fr));
}
.serv 
{
    border: 5px solid var(--main-color);
    border-radius: 10px;
    grid-column: 2 / 7;
}
.serv-cont .support-img 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.serv-cont .support-img img{
    position: relative;
    animation: scale_rotate 1s linear forwards , up_and_down 1s linear infinite;
}
.serv-cont .support-img p
{
    color: var(--main-color);
    font-size: 40px;
    line-height: 1.3;
    padding: 10px 20px;
    text-align: center;
    animation: scale 1s linear forwards 1s;
    transform: scale(0);
}
.me.sup 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 15px;
    transform: scale(0);
    animation: scale 1s linear forwards 2s;    
}
.me.sup .links 
{
    display: flex;
    gap: 10px;
    background: var(--main-color);
    width: 200px;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 30px;
    overflow-x: hidden;
}
.me.sup .links a
{
    background: black;
    width: 40px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 30px;
    transition: var(--main-transition);
    margin-left: 3px;
}
.me.sup .links a:hover
{
    width: 170px;
    height: 42px;
    margin-left: 10px;
    justify-content: space-evenly;
}
.me.sup .links a:hover p 
{
    display: flex;
    color: white;
    font-size: 20px;
    font-style: italic;
    transition: var(--main-transition);
    margin-left: 0;
    visibility: visible;
}
.me.sup .links a i
{
    font-size: 30px;
    color: white;
    transition: var(--main-transition);
}
.me.sup .links a:hover i
{
    color: var(--main-color);
}
.me.sup .links a p 
{
    margin-left:-80px;
    color: white;
    font-size: 20px;
    visibility: hidden;
}
footer.serv-footer
{
    bottom: 0 !important;
}
footer.serv-footer .me {
    margin: 0;
}
/* start animation */
@keyframes up_and_down {
    0%{bottom:0}
    50%{bottom: 10px;}
    100%{bottom: 0px;}
}
@keyframes scale_rotate 
{
    0%{ transform: scale(0) rotate(-180deg);}
    100%{transform: scale(1) rotate(0deg);}
}
@keyframes scale 
{
    0%{ transform: scale(0) ;}
    100%{transform: scale(1);}
}
/* end animation */
/* start media query */
@media ( max-width : 450px ) {
    .serv 
    {
        margin-left: -190px;
    }
    .serv-cont .support-img
    {
        margin-top: 50px;
    }
    .serv-cont .support-img img
    {
        width: 300px;
        margin-top: 10px;
    }
    .serv-cont .support-img p
    {
        font-size: 29px;
        text-align: -webkit-center;

    }
    .me .links
    {
        width: 160px;
        height: 40px;
    }
    .me .links a {
        
        width: 30px;
        height: 30px;
    }
    .me .links a i {
        font-size: 20px;
    }
    footer.serv-footer
    {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    height: 130px;
    }
    footer.serv-footer .me
    {
        flex-direction: column;
    }
    footer .me p {
        font-size: 18px;
        margin-bottom: 20px;    
    }

}
@media (min-width:451px) and (max-width:578px) {  
    .serv 
    {
        margin-left: -190px;
    }
    .serv-cont .support-img img
    {
        width: 300px;
        margin-top: 10px;
    }
}
@media (min-width:588px) and (max-width:899px) {  
    .serv
    {
        margin-left: -220px;
    }
}
@media (max-width:900px)
{   
    .serv
    {
        margin-left: 0 !important;
        grid-row: 1 / 11;
        grid-column: 1 / 11;
        margin-top: 60px;
    }
}
/* end media query */
/* end services page */
/* start contact us page */
.contact-cont 
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(630px, 1fr));
}
.contact-cont .contact-container 
{
    border: 5px solid var(--main-color);
    border-radius: 10px;
    grid-column: 2 / 7;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact-cont .contact-container .con-img img{
    width: 550px;
    position: relative;
    transition: var(--main-transition);
    z-index: 10;
    animation: scale_rotate 1s linear forwards ,up_and_down 1s linear infinite , scale_rotate 1s linear forwards ;
    right: -510px;
}
.contact-cont .contact-container form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid white;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    flex-grow: 1;
    box-shadow: 0px 0px 20px 0px white;
    animation: scale 1s linear forwards ;
}
.contact-cont .contact-container form label 
{
    color: white;
}
.contact-cont .contact-container form input,
.contact-cont .contact-container form textarea
{
    background-color: black;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    padding: 10px;
    caret-color: var(--main-color);
    width: 350px;
    color: white;
}
.contact-cont .contact-container form textarea
{
    max-width: 350px;
    max-height: 127px;
    height: 127px;
}
.contact-cont .contact-container form input:focus,
.contact-cont .contact-container form textarea:focus
{
    box-shadow: 0px 0px 25px var(--main-color);

}
.contact-cont .contact-container form input::placeholder,
.contact-cont .contact-container form textarea::placeholder
{
    color: white;
    font-style: italic;
}
.contact-cont .contact-container form .buttons 
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
}
.contact-cont .contact-container form .buttons input
{
    width: 100px;
    color: white;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    transition: var(--main-transition);
}
.contact-cont .contact-container form .buttons input:hover
{
   transform: scale(1.1);
   background-color:var(--main-color) ;
}
footer.con-footer 
{
    bottom: 0;
}
footer.con-footer .me
{
    margin: 0;
}
/* start animation */
@keyframes img_right-left
{
    100% {right: 0px;}
}
@keyframes img_up_down
{
    100% {top: 0px;}
}
@keyframes img_rotate 
{
    0%{transform: rotate(0);}
    50%{transform: rotate(-1deg);}
    0%{transform: rotate(0);}
}
/* end animation */
/* start media query */
@media (max-width:767px)
{
    .contact-cont .contact-container .con-img img {
        width: 300px;
        right: 0;
        top: 303px;
        animation:scale_rotate 1s linear forwards,img_up_down 1s linear forwards 1.5s , 
        img_rotate  1s linear infinite 1.5s;
    }
    .contact-cont .contact-container {
        margin-left: 0 !important;
        grid-row: 1 / 11;
        grid-column: 1 / 11;
        margin-top: 60px;
    }
}
@media (max-width : 900px)
{
    .contact-cont .contact-container
    {
        margin-left: -190px;
        flex-direction: column;
    }
    .contact-cont .contact-container form{
        width: 300px;
        height: 300px;
        gap: 3px;
    }
    .contact-cont .contact-container form input, .contact-cont .contact-container form textarea{
        max-width: 210px;
        padding: 5px;
    }
    .contact-cont .contact-container form .buttons input{
        padding:0 ;
        width: 70px;
    }
    .contact-cont .contact-container form textarea
    {
        height: 80px;
    }
    footer.con-footer
    {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    height: 130px;
    }
    footer.con-footer .me
    {
        flex-direction: column;
    }
    footer.con-footer .me p {
        font-size: 19px;
        margin-bottom: 20px;
    }
}
@media (min-width : 767px) and (max-width:900px)
{
    .contact-cont .contact-container
    {
        margin-left: -190px !important;
        flex-direction: row;
    }

    .contact-cont .contact-container form{
        height: 350px;
    }
    .contact-cont .contact-container .con-img img
    {   
        width: 410px;
        right: -320px ;
        animation: scale_rotate 1s linear forwards,img_right-left 1s linear forwards 1.5s, up_and_down 1s linear infinite 1.5s;
        
    }
    .contact-cont .contact-container {
        margin-left: 0 !important;
        grid-row: 1 / 11;
        grid-column: 1 / 11;
        margin-top: 60px;
    }
}
@media (min-width : 900px) and (max-width:1115px)
{
    .contact-cont .contact-container .con-img img {
        width: 380px;
    }
    .contact-cont .contact-container form{
        width: 250px;
        height: 420px;
    }
    .contact-cont .contact-container form input, .contact-cont .contact-container form textarea{
        width: 270px;
    }
    .contact-cont .contact-container .con-img img
    {
        right: -370px ;
        animation: scale_rotate 1s linear forwards,img_right-left 1s linear forwards 1.5s , up_and_down 1s linear infinite 1.5s;
        
    }
}
@media (min-width:1115px) {
    .contact-cont .contact-container .con-img img
    {
        animation:scale_rotate 1s linear forwards , img_right-left 1s linear forwards 1.5s , up_and_down 1s linear infinite 1.5s;
        
    }
}
/* end media query */
/* end contact us page */
/* start best of page */
.container.bestof-cont
{
    display: grid;
    height: 100vh;
}
.container.bestof-cont .welcome .intro h1
{
    margin-top: 60px;
}
/* end best of page */
